@import url('../vendor/rcounter/example/assets/css/style.css');


/*common css*/
html,body {
    background-color: skyblue;
    height: 100%;
    margin: 0;
}

.circles {
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    opacity: 0.5;
/*    z-index: -1;
*/}
body{padding: 0;}

/*counterup exp 2*/
    
.countme {
    padding: 50px 0;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    background: #19f;
    color: #fff;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

